= form_for([user,tweet]) do |f|
  = render 'partials/error_messages', object: f.object
  = f.label :tweet_text
  = f.text_area :tweet_text, placeholder: 'Write new tweet...'
  %span.file_upload
    = f.label :image
    = f.file_field :image, accept: 'image/jpeg,image/gif,image/png'
  = f.submit 'Tweet', class: 'btn btn-primary'
