<%= form_for(tweet) do |f| %>
  <%= render 'partials/error_messages', object: f.object %>
  <%= f.label :tweet_text %>
  <%= f.text_area :tweet_text, placeholder: 'Write new tweet...' %>
  <span class="file_upload">
    <%= f.label :image %>
    <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <%= f.submit 'Tweet', class: 'btn btn-primary' %>
<% end %>
