= simple_form_for([user,tweet], html: { novalidate: true }) do |f|
  = render 'partials/error_messages', object: f.object
  = f.input :tweet_text, placeholder:'Write new tweet...', as: :text
  = f.input :image,
            accept: 'image/jpeg,image/gif,image/png',
            as: :file,
            input_html: { class: 'file-upload' }
  = f.button :submit, 'Tweet', class: 'btn btn-primary'
