<li id="tweet-<%= tweet.id %>">
  <span class="user"><%= link_to tweet.user.name, tweet.user %></span>
  <span class="content"><%= tweet.tweet_text %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(tweet.created_at) %> ago.
    <%= link_to "delete", tweet, method: :delete,
                                           data: { confirm: "Are you sure?" } %>
  </span>
</li>
