%li{id: "tweet-#{tweet.id}"}
  %span.avater
    = image_tag avater_url(tweet.user), :width => '50'
  %span.user
    = link_to tweet.user.name, tweet.user
  %span.content
    = tweet.tweet_text
    = image_tag tweet.image.url if tweet.image?
  %span.timestamp
    Posted #{time_ago_in_words(tweet.created_at)} ago.
    - if tweet.user == current_user
      = link_to 'delete', [tweet.user,tweet], method: :delete, data: { confirm: 'Are you sure?' }
