= simple_form_for(user) do |f|
  = render 'partials/error_messages', object: f.object
  = f.input :name
  = f.input :email, as: :email
  = f.input :avater,
            accept: 'image/jpeg,image/gif,image/png',
            as: :file,
            input_html: { class: 'file-upload' }
  = f.input :profile, as: :text
  = f.input :password, as: :password
  = f.input :password_confirmation, label:'Password Confirmation', as: :password
  = f.button :submit, 'Update user', class: 'btn btn-primary'
