%h1
  Messages of 
  - @room.users.each_with_index do |user, i|
    = room_participants(user,i)

%ul.room-messages
  - @messages.each do |message|
    %li.room-messages__item
      .room-messages__item__avater
        = image_tag avater_url(message.user), class: 'rooms-avater'
      .room-messages__item__box
        %span.room-messages__item__box__user
          = message.user.name
        %span.room-messages__item__box__msg
          = message.body

%section.message_form
  = render 'messages/form_new', {user: current_user, room: @room, message: @message_post}
